{% extends "base.html" %}

{% block content %}

<a href="{{ url_for('addform') }}" class="btn btn-primary m-2">Ajouter un employé</a>
<h2 class="text-center">Liste des employés</h2>

{% if persons %}
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for person in persons %}
        <th>{{person.id}}</th>
        <th>{{person.firstName}}</th>
        <th>{{person.name}}</th>
        <th>{{person.email}}</th>
        <th> {{person.created_at.date()}} </th>
        <th>
          <a href="/update/{{person.id}}/" class="btn btn-success">Modifier</a>
          <a href="/delete/{{person.id}}" class="btn btn-danger">Supprimer</a>
        </th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>Pas de tâche à réaliser</p>
  {% endif %}
  <!-- {% include "partials/_form.html" %} -->
</div>
{% endblock content %}