{% extends "base.html" %}

{% block content %}

<a href="{{ url_for('addForm') }}" class="btn btn-primary m-2">Ajouter un employé</a>
<h2 class="text-center">Liste des employés</h2>
<img src="./images/APPLE-IPHONE-13-PRO-MAX.jpg" alt="" srcset="" style="width: 75px; border-radius: 50%;">

{% if personsIndex %}
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th >Email</th>
        <th>Image</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        {% for person in personsIndex %}
        <th class="align-middle">{{loop.index}}</th>
        <th class="align-middle">{{person.firstName}}</th>
        <th class="align-middle">{{person.name}}</th>
        <th class="align-middle">{{person.email}}</th>
        <th class="align-middle"><img src="data:image/*;base64,{{ person.image|b64encode }}" alt="" srcset="" style="width: 100px;height:100px ;border-radius: 50%;"></th>
        <th class="align-middle">
          <a href="/update/{{person.id}}/" class="btn btn-success">Modifier</a>
          <a href="/delete/{{person.id}}" class="btn btn-danger">Supprimer</a>
        </th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>Pas de tâche à réaliser</p>
  {% endif %}
</div>
{% endblock content %}